class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :blazer_edits do |t|
      t.references :user
      t.references :editable, polymorphic: true
      t.text :edit_changes
      t.datetime :created_at
    end
  end
end
