class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :blazer_versions do |t|
      t.references :user
      t.references :versionable, polymorphic: true
      t.text :version_changes
      t.datetime :created_at
    end
  end
end
