<% title "Dashboards" %>

<p style="float: right;"><%= link_to "New Dashboard", new_dashboard_path, class: "btn btn-info" %></p>
<p>
  <%= link_to "Home", root_path, class: "btn btn-primary", style: "margin-right: 10px;" %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Dashboard</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboards.each do |dashboard| %>
      <tr>
        <td><%= link_to dashboard.name, dashboard %></td>
      </tr>
    <% end %>
  </tbody>
</table>
