/*
 *= require ./bootstrap
 *= require ./selectize.default
 *= require ./github
 *= require ./daterangepicker-bs3
 *= require_self
 */

pre {
  border: none;
  border-radius: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.results-table th {
  cursor: pointer;
}

.results-table thead {
  background-color: #fff;
}

input.search {
  border: none;
  box-shadow: none;
}

input.search:focus {
  outline: none;
  box-shadow: none;
}

.button_to {
  display: inline-block;
}

.button_to input:focus {
  outline: none;
}

.form-inline .selectize-control, .text-right .selectize-control {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 20px;
  text-align: left;
}

#editor-container {
  background-color: #141414;
  padding-top: 10px;
  padding-bottom: 10px;
}

#editor {
  display: none;
  height: 160px;
}

.ace_print-margin-layer {
  display: none;
}

.ace_gutter-cell.error {
  background-color: red;
}

.chart {
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chart > .results-container {
  height: 300px;
  border: solid 1px #ddd;
  overflow: scroll;
  text-align: left;
}

.dashboard a {
  font-weight: bold;
}

#search-item {
  display: none;
}

.creator {
  text-align: right;
  color: #999;
}

.vars {
  color: #ccc;
}

.check-state {
  font-weight: bold;
}

.check-state a {
  color: inherit;
}

.check-state.failing {
  color: red;
}

.check-state.passing {
  color: #5cb85c;
}

.check-state.error {
  color: #666;
}

.check-state.timed_out {
  color: orange;
}

.check-state.disabled {
  color: #000;
}
