<div id="queries">
  <div id="header" style="margin-bottom: 20px;">
    <div class="pull-right">
      <%= link_to "New Query", new_query_path, class: "btn btn-info" %>
      <%= link_to "Dashboards", dashboards_path, class: "btn btn-primary" %>
      <%= link_to "Checks", checks_path, class: "btn btn-primary" %>
    </div>
    <input type="text" placeholder="Start typing a query or person" style="width: 300px; display: inline-block;" autofocus=true class="search form-control" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Query</th>
        <th style="width: 20%; text-align: right;">Mastermind</th>
      </tr>
    </thead>
    <tbody class="list">
    </tbody>
  </table>
</div>

<script>
  $(".list").load("<%= queries_path %>", function () {
    var options = {
      valueNames: ['query', 'creator']
    };
    var userList = new List('queries', options);
  });
</script>
