<div id="queries">
  <div id="header" style="margin-bottom: 20px;">
    <div class="pull-right">
      <%= link_to "New Query", new_query_path, class: "btn btn-info" %>
    </div>
    <input type="text" placeholder="Start typing a query or person" style="width: 300px; display: inline-block;" autofocus=true class="search form-control" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Query</th>
        <th style="width: 20%; text-align: right;">Mastermind</th>
      </tr>
    </thead>
    <tbody class="list">
      <% @queries.each do |query| %>
        <tr>
          <td class="query">
            <%= link_to query.name, query %>
            <% if query.created_at > 2.days.ago %>
              <small style="font-weight: bold; color: #5cb85c;">NEW</small>
            <% end %>
          </td>
          <td class="creator text-right text-muted">
            <% if (creator = query.creator) and creator.respond_to?(:name) %>
              <% name = creator.name %>
              <% if respond_to?(:current_user) and creator == current_user %>
                you
                <div class="hide">me <%= name %></div>
              <% else %>
                <%= name %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  var options = {
    valueNames: ['query', 'creator']
  };
  var userList = new List('queries', options);
</script>
