<p class="text-muted">Loading...</p>

<script>
  setTimeout( function () {
    var chartIndex = <%= blazer_json_escape(params[:chart_index].to_json).html_safe %>;
    var request = $.ajax({
      url: "<%= run_queries_path %>",
      method: "POST",
      data: <%= blazer_json_escape(variable_params.merge(statement: @statement, query_id: @query.try(:id) || params[:query_id], data_source_id: @data_source.id, timestamp: @timestamp, chart_only: @chart_only, chart_index: params[:chart_index], run_id: @run_id).to_json).html_safe %>,
      dataType: "html"
    }).done(function(data) {
      if (chartIndex) {
        $("#chart-" + chartIndex).html(data);
        $("#chart-" + chartIndex).stupidtable();
      } else {
        $("#results").html(data);
        // TODO skip fixedOffset for run
        $("#results table").stupidtable().stickyTableHeaders({fixedOffset: 60});
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
      var message = (typeof errorThrown === "string") ? errorThrown : errorThrown.message;
      $("#results").css("color", "red").html(message);
    });
  }, 1000);
</script>
