<% @schema.each do |table| %>
  <h4>
    <%= table[:table] %>
    <% if table[:schema] != "public" %>
      <small><%= table[:schema] %></small>
    <% end %>
  </h4>

  <div class="table-responsive">
    <table class="table">
      <tbody>
        <% table[:columns].each do |column| %>
          <tr>
            <td style="width: 60%;"><%= column[:name] %></td>
            <td class="text-muted"><%= column[:data_type] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
