<p style="text-muted">Running check...</p>

<div id="results" style="display: none;"></div>

<script>
  var data = <%= blazer_json_escape({statement: @query.statement, query_id: @query.id, check: true}.to_json).html_safe %>;

  runQuery(data, function (data) {
    $("#results").html(data);
  });
</script>
