name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.0"
        bundler-cache: true
    - uses: ankane/setup-postgres@v1
      with:
        database: blazer_test
    - run: bundle exec rake test
