name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.2
            gemfile: Gemfile
          - ruby: 3.1
            gemfile: gemfiles/rails70.gemfile
          - ruby: "3.0"
            gemfile: gemfiles/rails61.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: ankane/setup-postgres@v1
        with:
          database: blazer_test
      - run: bundle exec rake test
      - run: bundle exec rake test:postgresql
